@{
    ViewData["Title"] = "Página de Inicio";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-primary">¡Bienvenido!</h1>
    <p class="lead">Explora las maravillas de construir aplicaciones web con <a href="https://docs.microsoft.com/aspnet/core" class="text-info">ASP.NET Core</a>.</p>
    <img src="tu-imagen.png" alt="Imagen Representativa" class="img-fluid mt-4" style="max-width: 400px;" />
</div>
