@{
    ViewData["Title"] = "Política de Privacidad - SAN JUAN TRANSPORTE";
}

<div class="container mt-5">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p class="lead">Bienvenido a nuestra Política de Privacidad. En SAN JUAN TRANSPORTE , nos tomamos muy en serio la privacidad de nuestros usuarios. A continuación, detallamos cómo recopilamos, utilizamos, divulgamos y protegemos su información personal.</p>

    <h2>Información que Recopilamos</h2>
    <p>En el curso normal de nuestras operaciones, podemos recopilar información personal, incluyendo, pero no limitándose a:</p>
    <ul>
        <li>Información de contacto (nombre, dirección de correo electrónico, número de teléfono).</li>
        <li>Información de facturación y pago.</li>
        <li>Información de seguimiento de envíos.</li>
        <!-- Agrega cualquier otra información relevante para tu empresa de transporte -->
    </ul>

    <h2>Uso de la Información</h2>
    <p>Utilizamos la información recopilada para:</p>
    <ul>
        <li>Procesar y realizar seguimiento de envíos.</li>
        <li>Proporcionar servicios de atención al cliente.</li>
        <li>Mejorar y personalizar la experiencia del usuario.</li>
        <!-- Agrega otros usos pertinentes -->
    </ul>

    <!-- Puedes agregar más secciones relacionadas con la privacidad de tus usuarios -->

    <h2>Protección de la Información</h2>
    <p>Nos comprometemos a proteger la información personal de nuestros usuarios. Implementamos medidas de seguridad para prevenir accesos no autorizados, divulgación, alteración o destrucción no autorizada de datos.</p>

    <p class="text-muted mt-4">Última actualización: [Fecha de la última actualización]</p>
</div>
