@{
    ViewData["Title"] = "Política de Privacidad";
}

<div class="container mt-5">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p class="lead">Utiliza esta página para detallar la política de privacidad de tu sitio.</p>

    <!-- Puedes agregar más contenido relacionado con tu política de privacidad aquí -->

    <p class="text-muted mt-4">Última actualización: [Fecha de la última actualización]</p>
</div>
