@model SanJuanTransporte.Models.Conductor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Conductor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CI" class="control-label"></label>
                <input asp-for="CI" class="form-control" />
                <span asp-validation-for="CI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCompleto" class="control-label"></label>
                <input asp-for="NombreCompleto" class="form-control" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroLicencia" class="control-label"></label>
                <input asp-for="NumeroLicencia" class="form-control" />
                <span asp-validation-for="NumeroLicencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroPlaca" class="control-label"></label>
                <input asp-for="NumeroPlaca" class="form-control" />
                <span asp-validation-for="NumeroPlaca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

